<div class="main-container">
  <div class="header">
    <h1>Permissions</h1>
    <!-- Groups & Roles Tabs -->
    <div class="tabs"> 
      <span [ngClass]="{'active': currentTab === 'groups'}" (click)="currentTab = 'groups'">Groups</span>
      <span [ngClass]="{'active': currentTab === 'roles'}" (click)="currentTab = 'roles'">Roles</span>
    </div>
  </div>
  <div class="body">
    <!-- Side Menu -->
    <div class="side-menu">
      <ng-container *ngIf="currentTab === 'groups'">
        <ul>
          <li *ngFor="let group of groups" (click)="onGroupClick(group)" [class.active]="group.isActive">
            {{ group.label }}
            <span style="margin-left: 40px;" (click)="editGroup(group)" *ngIf="group.isActive"><img src="..\assets\images\edit_icon.png"></span>
          </li>
          <li class="add-new-group" (click)="creatingNewGroup = true">+Add New Group</li>
        </ul>
      </ng-container>
      <ng-container *ngIf="currentTab === 'roles'">
        <ul>
          <li *ngFor="let role of roles" (click)="onRoleClick(role)" [class.active]="role.isActive">
            {{ role.label }}
            <span style="margin-left: 70px;" (click)="editRole(role)" *ngIf="role.isActive"><img src="..\assets\images\edit_icon.png"></span>
          </li>
          <li class="add-new-role" (click)="creatingNewRole = true">+ Add New Role</li>
        </ul>
      </ng-container>
    </div>
    <div class="main-portion">
      <!-- Search & Filters Section -->
      <div class="header-container">
        <p>{{ currentTab === 'groups' ? 'Roles' : 'Access Rights' }}</p>
        <div class="filters">
          <input *ngIf="currentTab === 'groups'" type="text" [(ngModel)]="roleSearch" placeholder="Search">
          <input *ngIf="currentTab === 'roles'" type="text" [(ngModel)]="accessRightSearch" placeholder="Search">
          <select (change)="onOptionChanged($event.target)">
            <option [value]="null">Please Select</option>
            <option value="SelectAll">Select All</option>
            <option value="UnSelectAll">Un Select All</option>
            <option value="All">Show All</option>
            <option value="UnMarked">Show UnMarked</option>
            <option value="Marked">Show Marked</option>
          </select>
        </div>
      </div>
      <!-- Assigned Roles to Selected Group -->
      <ng-container *ngIf="currentTab === 'groups' && showRoles">
        <ul>
          <ng-container
            *ngFor="let role of filteredRoles | slice: roleStartIndex: roleEndIndex | filter: roleSearch; let i = index;">
            <li>
              <input type="checkbox" [checked]="isPresentInGroup(role)" (change)="toggleTheRoleInTheGroup(role)"
                [id]="i">
              <label [attr.for]="i">{{ role.label }}</label>
            </li>
          </ng-container>
        </ul>
        <div class="button-container">
          <button (click)="onRolePrev()" [disabled]="roleStartIndex <= 0">prev</button>
          <button (click)="onRoleNext()" [disabled]="roleEndIndex >= filteredRoles.length">next</button>
        </div>
      </ng-container>
      <!-- Assigned Access Rights to Selected Role -->
      <ng-container *ngIf="currentTab === 'roles' && showAccessRights">
        <ul>
          <ng-container
            *ngFor="let accessRight of filteredAccessRights | slice: accessRightsStartIndex: accessRightsEndIndex | accessRightsFilter: accessRightSearch; let i = index">
            <li>
              <input type="checkbox" [checked]="isPresentInRole(accessRight)"
                (change)="toggleTheAccessRightInTheRole(accessRight)" [id]="i">
              <label [attr.for]="i">{{ accessRight }}</label>
            </li>
          </ng-container>
        </ul>
        <div class="button-container">
          <button (click)="onAccessRightsPrev()" [disabled]="accessRightsStartIndex <= 0">prev</button>
          <button (click)="onAccessRightsNext()"
            [disabled]="accessRightsEndIndex >= filteredAccessRights.length">next</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!-- Creating & Editing Modal for Roles & Groups -->
<div class="modal" *ngIf="creatingNewGroup || creatingNewRole || editingNewGroup || editingNewRole">
  <div class="header">{{ (creatingNewGroup || creatingNewRole) ? (currentTab === 'groups' ? 'Create New Group' :
    'CreateNew Role') : (currentTab === 'groups' ? 'Edit Existing Group' : 'Edit Existing Role') }}</div>
  <div class="body">
    <input *ngIf="currentTab === 'groups'" type="text" [(ngModel)]="groupName" >
    <input *ngIf="currentTab==='roles'" type="text" [(ngModel)]="roleName" >
  </div>
  <div class="footer">
    <button *ngIf="(editingNewGroup || editingNewRole)" (click)="edit(currentTab === 'groups')">Save</button>
    <button *ngIf="(creatingNewGroup || creatingNewRole)" (click)="save(currentTab === 'groups')">Save</button>
    <button (click)="onCancel()">cancel</button>
  </div>
</div>
